-max-w

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family:'Times New Roman', Times, serif ;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
section{
    scroll-margin: 50px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
header{
    background-color:rgb(3, 18, 84);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}
nav ul{
    display: flex;
    gap: 20px;
}
.logo{
    font-size: 25px;
    font-weight:600;
    color: white;
}
nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}
nav ul li:hover{
    border-bottom: 2px solid white;
    transition: 0.2s ease-in;
}
.section{
    background-image:url(hero_image.png);
    height: 100vh;
    display: grid;
    place-items: center;
    color: white;
    text-align: center;
}
.music{
    background-color: rgb(51, 0, 98);
    padding: 50px;
    color: white;
}
.container1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.ipad-iphone{
    margin-top: -400px;
    position: relative;
    top: 400px;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in;
}
.primary{
    background-color: rgb(237, 16, 16);
    color: white;
}
.container2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.abt-music{
    padding-top: 500px;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 50px;
    margin: bottom 50px; ;
}
.secondary{
    background-color: rgb(5, 5, 86);
    color: white;
}
.vedio{
    background-image: url(video.png);
    min-height: 700px;
    color: white;
    display: grid;
   place-items: center;
    text-align: center;

}
.vedio.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
}
.section,
.vedio{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gift-card{
    display: flex;
    justify-content: center;
    margin: 100px 0;
    gap: 30px;
    scroll-margin: 120px;
}
.gift-content{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
li{
    list-style: none;
}
.footer {
    background-color:rgb(32, 4, 66) ;
    padding: 20px;
}
.footer .container{
    display: flex;
    color: white;
    justify-content: space-between;

}
.foot-lower{
    background-color: rgb(7, 5, 78);
    color: white;
    display: flex;
    justify-content: center;
}
.footer-link h4{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid white;
}
